* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background: #ffffff;
  color: #111111;
  font-family: Garamond, serif;
  font-weight: 400;
  font-style: normal;
}
